bmon
byobu
cmatrix
dnsutils
dos2unix
espeak
fd
ffmpeg
figlet
file
fzf
git
gum
hollywood
htop
inetutils
jq
lsd
ncdu
neofetch
neovim
openssh
proot-distro
proot
pulseaudio
python
ripgrep
sox
tgpt
tidy
tmux
tree
tsu
unzip
wget
whois
zsh-completions
zstd
